.adbubbles_{
  display: flex; flex-direction: column;  padding-top: 14rem; padding-bottom: 3rem;
}

.adbubbles_border{
  background-color: #ECB733;
  border-radius: 50%;
/*   margin-left: 1.5rem; */

      width: 195px;
      height: 195px;
      position: absolute; z-index: -1;
      transform: translateX(-6px);
}

.adbubbles_big{
  display: flex; flex-direction: column;   
background-color: #ECB733;
border-radius: 50%;
    width: 255px;
    height: 255px; 
}

.adbubbles_big_header{
  text-align: center;
font: normal normal 800 51px/51px Montserrat;
letter-spacing: 0px;
padding-top: 1.5rem;
color: #322780;
}

.adbubbles_big_text{
  text-align: center;
font: normal normal normal 18px/20px Montserrat;
letter-spacing: 0px;
padding-top: 1rem;
color: #322780;
    
}

.adbubbles_big_click{
  text-align: center;
text-decoration: underline;
font: normal normal 800 21px/22px Montserrat;
letter-spacing: 0px;
padding-top: 2rem;
color: #FFFFFF;
transform: translateY(-22px);
}


.adbubbles_header{
  text-align: center;
font: normal normal 800 30px/30px Montserrat;
letter-spacing: 0px;

color: #322780;
}


.adbubbles_text{
  text-align: center;
font: normal normal 400 18px/20px Montserrat;
letter-spacing: 0px;
padding-top: 1rem;
color: #322780;
transform: translateY(-5px);
    width: 180px;
}


.adbubbles_click{
  text-align: center;
text-decoration: underline;
font: normal normal 800 21px/22px Montserrat;
letter-spacing: 0px;
padding-top: 2rem;
color: #FFFFFF;
padding-top: 0.5rem;
}

.adbubbles_row{
  display: flex; flex-direction: row; justify-content: space-between; padding-top: 3rem;
}

.adbubbles_main_header{
  text-align: center;
font: normal normal 800 60px/46px Montserrat;
letter-spacing: 0px;
color: #322780;
}


@media (min-width:650px) and (max-width:1250px) {
.adbubbles_row{
      flex-wrap: wrap;
    gap: 1rem;
    align-items: baseline;
        justify-content: space-evenly;
}
.adbubbles_{
  padding-top: 3rem;
}
}

@media (min-width:450px) and (max-width:650px) {
.adbubbles_row{
      flex-wrap: wrap;
    gap: 1rem;
    align-items: baseline;
        justify-content: space-evenly;
}
.adbubbles_{
  padding-top: 3rem;
}
.adbubblemargin{
    margin-top: 2rem;
  }
}


@media (max-width:450px){
.adbubbles_row{
      flex-wrap: wrap;
    gap: 1rem;
    align-items: baseline;
        justify-content: space-evenly;
}
.adbubbles_{
  padding-top: 3rem;
}
.adbubblemargin2{
    margin-top: 4rem;
  }

}