.copy_{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}

.copy_1{
  display: flex;
  flex-direction: column;
  justify-content: center;
 align-items: start;
  
}

.copy_1 p{
  display: flex;
  justify-content: start;
  align-items: center;
 text-align: center;
font: normal normal 800 18px/22px Montserrat;
letter-spacing: 0px;
color: #322780;
}

.copy_3 p{
   display: flex;
  justify-content: end;
  align-items: center;
 text-align: center;
font: normal normal 800 18px/22px Montserrat;
letter-spacing: 0px;
color: #322780;
}

.copy_2{
  display: flex;
  justify-content: center;
  align-items: center;
}

.copy_2 a{
  text-align: center;
font: normal normal 800 18px/22px Montserrat;
letter-spacing: 0px;
color: #322780;

}

.copy_2_margin{
  margin-right: 2rem;
}


@media (max-width:803px) {
  .copy_{
    grid-template-columns: 1fr;
  }

  .copy_1{
  
  justify-content: center;
  align-items: center;
}

 .copy_2{
  
  justify-content: center;
  align-items: center;
}

 .copy_3{
  
  justify-content: center;
  align-items: center;
      margin-inline: auto;
}
}