.heroheader_{
  display: flex; flex-direction: row;
}

.heroheader_section{
  width: 55%; padding-top: 6.5rem; display: flex; flex-direction: column;
}

.heroheader_section-div--1{
  text-align: left;
font: normal normal 800 100px/103px Montserrat;
letter-spacing: 0px;
color: #ECB733;
}

.heroheader_section-div--2{
text-align: left;
padding-top: 2rem;
font: normal normal 300 61px/63px Montserrat;
letter-spacing: 0px;
color: #FFFFFF;
}

.heroheader_img{
  padding-top: 5rem;
}