.middlesection_{

  display: flex; flex-direction: column; padding-top: 5rem; 
}

.middlesection_underdiv{
  display: flex; flex-direction: row;
  margin-left: 9rem;
}

.middlesection_underdiv_box{
  width:50%; height: 100%; 
}

.middlesection_textbox{
  display: flex; flex-direction: column; width:50%; max-width: 518px;
}

.middlesection_textbox_header{
  text-align: left;
font: normal normal 400 60px/60px Montserrat;
letter-spacing: 0px;
color: #322780;
}

.middlesection_textbox_underheader{
  text-align: left;
font: normal normal 800 56px/60px Montserrat;
letter-spacing: 0px;
color: #322780;

}

.middlesection_textbox_bold{
  text-align: left;
font: normal normal 800 18px/30px Montserrat;
letter-spacing: 0px;
color: #322780;
}

.middlesection_textbox_normal{
  text-align: left;
font: normal normal 400 18px/30px Montserrat;
letter-spacing: 0px;
color: #322780;
}

.middlesection_img{
  object-fit: cover; position: absolute; width: 100%; height: 1123px; margin: auto; transform: translate(0, -35%); z-index: -2;
}

.middlesection_img_box{
  position: absolute; width: 100%; height: 1123px; margin: auto; padding-top: 26rem; z-index: -4;
}

.middleimg{
  padding-left: 2rem !important;
    width: calc(650px + (650 - 350) * ((100vw - 1250px) / (1920 - 1250))); 
    max-width: 950px;
}

@media (min-width:650px) and (max-width:1250px) {

  

}