.nav_{
  display: flex; flex-direction: row; justify-content: space-between;
 padding-top: 2rem;
}

.nav_section-1, .nav_section-2, .nav_section-3{
  width: 33.33%;
}

.nav_section-2{display: flex; justify-content: center;}


.nav_section-3{display: flex; justify-content: end;

}

.nav_section-3--img{
  padding-right: 2rem;
}

@media (min-width:650px ) and (max-width:1200px) {
  .nav_section-3--img {
        padding-right: 0.5rem;
  }
}

@media   ( max-width:650px ) {
  .nav_{
    flex-direction: column;
  }

  .nav_section-2{
    margin-inline: auto;
  }

  .nav_section-3{
    margin-inline: auto;
    justify-content: center;
        padding-top: 1rem;
  }
  
}

