.offertext_{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
}

.offertext_header{
  text-align: left;
font: normal normal 800 50px/60px Montserrat;
letter-spacing: 0px;
color: #ECB733;
opacity: 1;
}

.offertext_text{
  text-align: left;
font: normal normal 400 18px/30px Montserrat;
letter-spacing: 0px;
color: #322780;
}

.offertext_div{
  display: flex;
  flex-direction: column;
  width: 518px;
}

@media (max-width:1250px) {
  .offerbox{
    padding-top: 24rem !important;
  }
}

@media (max-width:1013px) {
  .offertext_ {
      flex-direction: column;
      align-items: center;
  }

  .offertext_header {
    text-align: center;
  }

  .offertext_text{
    text-align: center;
  }
  .offertext_div{
    padding-top: 3rem;
    width: auto;
    padding: 10%;
  }
}