.req_{
display: flex;
flex-direction: column;

}

.req_header{
padding-top: 3rem;
padding-bottom: 3rem;
text-align: center;
font: normal normal 800 50px/60px Montserrat;
letter-spacing: 0px;
color: #ECB733;
opacity: 1;
}

.req_flex{
display: flex;
flex-direction: row;
justify-content: space-evenly;
}

.req_box{
display: flex;
flex-direction: column;
width: 205px;
}

.req_button{
background: #ECB733 0% 0% no-repeat padding-box;
border-radius: 40px;
opacity: 1;
width: 350px;
height: 56px;
border: none;
margin-inline: auto;
margin-top: 3rem;
font: normal normal 800 20px/55px Montserrat;
letter-spacing: 0px;
color: #322780;
margin-bottom: 2rem;
z-index: 5;
}

.req_button:hover{
  background-color: #322780;
  color: white;
  border:2px solid #ECB733;
}

.req_text{
text-align: center;
font: normal normal 400 18px/30px Montserrat;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}

.req_img {
  margin-inline: auto;
  height: 120px;

}

.req_bg{
    height: 749px;
  }


@media (max-width:630px) {
  .req_flex{
    flex-direction: column;
    align-items: center;
  }
  .req_box{
    padding-top: 2rem;
  }

  .req_bg{
    height: 1077px;
  }
  .req_button{
    margin-top: 1rem;
  }
}

@media (max-width:450px) {
  .req_button{
        width: 300px;
  }
   .req_button{
    margin-top: 1rem;
  }
}