.showcase_{
  height: 840px;
    position: relative;
}

.showcase_header{
text-align: center;
font: normal normal 800 60px/60px Montserrat;
letter-spacing: 0px;
color: #322780;
margin-bottom: 3rem;
}

.showcase_box{
display: flex;
    flex-direction: row;
    position: absolute;
    width: 1200px;
}

.showcase_text{
width: 263px;
height: 111px;
text-align: left;
font: normal normal 800 50px/50px Montserrat;
letter-spacing: 0px;
color: #ECB733;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1rem;
    z-index: 2;
}

.showcase_text--invert{
width: 249px;
height: 111px;
text-align: right;
font: normal normal 800 50px/50px Montserrat;
letter-spacing: 0px;
color: #322780;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1rem;
    z-index: 2;
}

.showcase_img{

    z-index: 2;
}

.showcase_img-bg{
  width: 266px;
height: 266px;
position: absolute;
    z-index: 1;
}

.showcase1{
  transform: translateX(194px);
}
.showcase2{
 transform: translate3d(-86px, 202px, 28px);
}

.showcase3{
  transform: translate3d(293px, 28px, 28px);
}

.box1{
      transform: translateY(451px);
}

.box2{
  transform: translateY(158px);
}

@media (max-width:1250px) {
  .showcase_box{
          width: 100%;
  }
}

@media (min-width:735px) and (max-width:1050px) {
  .showcase2{
    transform: translate3d(-86px, 342px, 28px);
  }

  .box1{
    transform: translateY(709px);
  }

  .showcase_{
    height: 1090px;
  }

}

@media (max-width:735px) {
  .showcase1{
    transform: translate3d(0px, 184px, 24px);
  }

  .showcase2{
    padding-top: 2rem;
        transform: translate3d(0px, 471px, 28px);
  }
  .showcase_box{
    flex-direction: column;
    align-items: center;
  }
  .box1{
     padding-top: 3rem;
        transform: translateY(928px);
  }

  .showcase_{
    height: 1589px;
  }

  .showcase3{
     
    transform: translate3d(-2px, 205px, 28px);
  }
  .showcase_text{
    text-align: center;
  }
  .showcase_text--invert{
    text-align: center;
  }
}